<div class="all-user-info" *ngIf="userDetailDataService.getUser() != null">
  <div class="main-info-container">
    <div class="avatar-container">
      <img
        *ngIf="userDetailDataService.getAvatar() != null"
        class="avatar-img"
        src="data:image/png;base64,{{
          userDetailDataService.getAvatar().image
        }}"
        alt="avatar"
      />
      <img
        *ngIf="userDetailDataService.getAvatar() === null"
        class="avatar-img"
        [src]="defaultUserAvatarURL"
        alt="avatar"
        #defaultImage
      />
    </div>

    <div class="main-info">
      <div>
        First name:
        <span class="user-info-item">{{
          userDetailDataService.getUser().firstName
        }}</span>
      </div>
      <div>
        Last name:
        <span class="user-info-item">{{
          userDetailDataService.getUser().lastName
        }}</span>
      </div>
      <div *ngIf="userDetailDataService.getUser().middleName">
        Middle name:
        <span class="user-info-item">{{
          userDetailDataService.getUser().middleName
        }}</span>
      </div>
      <div>
        Birth date:
        <span class="user-info-item">{{
          userDetailDataService.getUser().birthDate
        }}</span>
      </div>
      <div>
        Role:
        <span *ngIf="userDetailDataService.getRole()" class="user-info-item">{{
          userDetailDataService.getRole().roleName
        }}</span>
      </div>
    </div>
  </div>

  <div class="description" *ngIf="userDetailDataService.getUser().description">
    <div>Description:</div>
    <div>{{ userDetailDataService.getUser().description }}</div>
  </div>
</div>
