.all-user-info {
  width: calc(100% - 60px);
  padding: 30px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;

  .main-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      .avatar-img {
        border-radius: 30%;
        height: 100%;
        width: 100%;
      }
    }
    .main-info {
      flex: 2;
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .user-info-item {
        font-weight: bold;
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px 0;
    text-align: center;

    div {
      text-align: center;
    }
  }
}
