<div class="add-user">
  <form class="add-user-form" (ngSubmit)="onAddUser()" [formGroup]="userForm">
    <div class="avatar-container">
      <!-- <button
        type="button"
        class="clear-avatar-button"
        (click)="onClearAvatar()"
      >
        x
      </button> -->
      <input
        style="display: none;"
        name="avatar"
        formControlName="avatar"
        type="file"
        accept="image/*"
        (change)="onFileSelect($event)"
        #avatarSelect
      />
      <div class="image-container">
        <img
          class="avatar-img"
          [src]="imgUrl"
          [width]="cropperSettings.croppedWidth"
          [height]="cropperSettings.croppedHeight"
          alt="avatar"
          (click)="avatarSelect.click()"
        />

        <div class="results too-large-file" *ngIf="this.errorMessage">
          {{ this.errorMessage }}
        </div>
      </div>

      <button
        type="button"
        class="upload-button"
        (click)="avatarSelect.click()"
      >
        Upload
      </button>
      <button
        type="button"
        class="cropp-button"
        *ngIf="selectedFile"
        (click)="onToggleCropper()"
        [innerHTML]="isCropper ? 'OK' : 'Crop Image'"
      ></button>
      <img-cropper
        #cropper
        center
        id="image-cropper"
        [style.display]="isCropper ? 'flex' : 'none'"
        [image]="imageCropData"
        [settings]="cropperSettings"
      ></img-cropper>
    </div>

    <div class="user-info-container">
      <div class="user-info-item user-firstname-container">
        <input
          class="form-field"
          name="firstname"
          placeholder="First Name"
          formControlName="firstname"
          type="text"
          autocomplete="off"
          required
        />
        <label class="form-label" for="firstname">First Name</label>

        <span
          class="invalid-info"
          *ngIf="
            !userForm.get('firstname').valid &&
            userForm.get('firstname').touched
          "
          >Incorrect First Name</span
        >
      </div>
      <div class="user-info-item user-lastname-container">
        <input
          class="form-field"
          name="lastname"
          placeholder="Last Name"
          formControlName="lastname"
          type="text"
          autocomplete="off"
          required
        />
        <label class="form-label" for="lastname">Last Name</label>

        <span
          class="invalid-info"
          *ngIf="
            !userForm.get('lastname').valid && userForm.get('lastname').touched
          "
          >Incorrect Last Name</span
        >
      </div>

      <div class="user-info-item user-middlename-container">
        <input
          class="form-field"
          name="middlename"
          placeholder="Middle Name"
          formControlName="middlename"
          type="text"
        />
        <label class="form-label" for="middlename">Middle Name</label>
      </div>

      <div class="user-info-item user-birthdate-container">
        <input
          class="form-field"
          name="birthdate"
          formControlName="birthdate"
          type="date"
          autocomplete="off"
          min="1900-01-01"
          max="2020-01-01"
        />
        <label class="form-label" for="birthdate">Birth date</label>

        <span
          class="invalid-info"
          *ngIf="
            !userForm.get('birthdate').valid &&
            userForm.get('birthdate').touched
          "
          >Incorrect birthdate. Age of employee must be greater then
          18y.o.</span
        >
      </div>

      <div class="user-info-item user-description-container">
        <label class="description-lebel" for="description">Description</label>

        <textarea
          class="form-field form-field-textarea"
          maxlength="1024"
          name="description"
          formControlName="description"
          rows="3"
        ></textarea>
      </div>

      <div class="user-info-item user-role-container">
        <label class="role-label" for="role">Role</label>
        <select
          class="select-box"
          name="role"
          formControlName="role"
          id="role"
          autocomplete="off"
          required
        >
          <option
            class="select-item"
            *ngFor="let role of roleDataService.getRoles()"
            value="{{ role.id }}"
            >{{ role.roleName }}</option
          >
        </select>
      </div>

      <div class="submit-container">
        <button
          class="submit-button"
          type="submit"
          [disabled]="!userForm.valid"
        >
          <span>
            Add employee
          </span>
        </button>
        <div class="results" *ngIf="this.userDetailDataSerice.requestResults">
          <div
            class="results"
            [style.color]="
              this.userDetailDataSerice.requestResults.isError ? 'red' : 'green'
            "
          >
            {{ this.userDetailDataSerice.requestResults.message }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
