$primary_valid: #11998e;
$secondary_valid: #3bf582;
$primary_invalid: #770000;
$secondary_invalid: #ff3737;
$primary_hover: #430ebe;
$secondary_hover: #0862eb;
$white: #fff;
$gray: #9b9b9b;

.add-user {
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

.add-user-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: row;

  textarea {
    resize: none;
  }
  .avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;

    .image-container {
      margin-bottom: 15px;

      .avatar-img {
        width: 100%;
        height: auto;
        align-self: center;
        border-radius: 30%;
        transition: all 0.3s;
      }

      .avatar-img:hover {
        transform: scale(1.05);
      }

      .results {
        margin-top: 10px;
        text-align: center;
        color: $secondary_invalid;
      }
    }

    .cropp-button {
      width: 100%;
    }

    #image-cropper {
      min-width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .ng2-imgcrop {
        canvas {
          width: 100%;
        }
      }
    }

    .upload-button,
    .cropp-button {
      width: 100%;
      margin: 5px 0;
      border: none;
      background: #404040;
      color: #ffffff !important;
      font-weight: 100;
      padding: 20px;
      text-transform: uppercase;
      border-radius: 6px;
      display: inline-block;
      transition: all 0.3s ease 0s;
    }
    .upload-button:hover,
    .cropp-button:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
    }
  }

  .user-info-container {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 0 50px;

    .user-info-item {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 100%;
    }

    .invalid-info {
      color: $primary_invalid;
    }

    .form-field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid gray;
      outline: 0;
      font-size: 1.3rem;
      color: rgba(53, 53, 53, 0.575);
      padding: 7px 0;
      background: transparent;
      transition: all 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form-label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }

    .form-field-textarea {
      width: calc(100% - 4px);
      border: 2px solid gray;
      border-radius: 10px;
    }

    .form-label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
    }

    .form-field:hover {
      transform: scale(1.03);
    }
    .form-field:focus {
      ~ .form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.3s;
        font-size: 1rem;
        color: $primary_valid;
        font-weight: 700;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $primary_valid, $secondary_valid);
      border-image-slice: 1;
    }
    .form-field:focus.ng-invalid {
      ~ .form-label {
        color: rgb(172, 41, 41);
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(
        to right,
        $primary_invalid,
        $secondary_invalid
      );
      border-image-slice: 1;
    }
    .form-field.ng-invalid.ng-touched {
      ~ .form-label {
        color: rgb(172, 41, 41);
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(
        to right,
        $primary_invalid,
        $secondary_invalid
      );
      border-image-slice: 1;
    }
    .form-field.ng-valid.ng-touched {
      ~ .form-label {
        color: $primary_valid;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $primary_valid, $secondary_valid);
      border-image-slice: 1;
    }
    /* reset input */
    .form-field {
      &:required,
      &:invalid {
        box-shadow: none;
      }
    }

    .role-label,
    .description-lebel {
      display: block;
      font-size: 1rem;
      color: $gray;
    }
    .select-box {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      font-size: 18px;
      border: 2px solid gray;
      border-radius: 10px;
      color: $gray;
    }

    .submit-container {
      width: 100%;
    }
    .submit-button {
      width: 100%;
      border-radius: 4px;
      background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
      border: none;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      padding: 20px;
      transition: all 0.4s;
      cursor: pointer;
      margin-top: 10px;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
      }
      span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }

    .submit-button:hover {
      span {
        padding-right: 25px;
      }
      span:after {
        opacity: 1;
        right: 0;
      }
    }
    .submit-button:disabled {
      opacity: 0.6;
      background: linear-gradient(to right, #c02e01, #3b0000) !important;
      color: #ffffff;
      cursor: default;
      span {
        cursor: default;
      }
    }

    .results {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .add-user-form {
    flex-direction: column;
    padding: 0px;
    .user-info-container {
      padding: 15px 15px 15px 15px;
    }
  }
  .add-user {
    padding: 0px;
  }

  .avatar-container {
    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .avatar-img {
        min-height: 100px;
        max-width: 100px;
      }
    }
  }
}
