.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #323330;
  color: white;

  .logo {
    img {
      height: 50px;
    }
    margin: 0 10px 0 10px;
  }

  ul {
    width: 100%;
    height: 55px;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      transition: 0.4s;
      transform: translateX(100rem);
      animation: slideIn 0.5s forwards;

      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px 0 15px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: 0.4s;
      }
    }
    li:hover {
      background-color: gray;
      a {
        transform: translateY(3px);
        color: black;
      }
    }
    li:nth-child(1) {
      animation-delay: 0.3s;
    }
    li:nth-child(2) {
      animation-delay: 0.6s;
    }
  }

  .burger {
    cursor: pointer;
    display: none;
    width: 42px;
    border: 4px solid white;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    div {
      width: 32px;
      height: 3px;
      background-color: white;
      margin: 5px;
      transition: 0.5s;
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -5px);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    .logo {
      align-self: center;
    }
    .logo-with-burger {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    ul {
      flex-direction: column;
      height: 100%;
      padding: 0;
      margin: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          justify-content: center;
          width: 100%;
          padding: 15px 0 15px 0;
        }
      }
    }
    .burger {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
    .nav-active {
      display: flex;
    }

    .nav-deactive {
      display: none;
    }
  }
}
