<nav class="nav-bar">
  <div class="logo-with-burger">
    <div class="logo">
      <a><img src="../../../assets/images/logo.png" alt="logo"/></a>
    </div>
    <div
      class="burger"
      [ngClass]="{ toggle: isNavigation }"
      (click)="toggleNavigation()"
    >
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>

  <ul
    [style.display]="
      innerWidth <= 768 ? (isNavigation ? 'flex' : 'none') : 'flex'
    "
  >
    <li>
      <a
        routerLink="/list"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleNavigation()"
        >All employees
      </a>
    </li>
    <li>
      <a
        routerLink="/form"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleNavigation()"
        >Add new employee</a
      >
    </li>
  </ul>
</nav>
