<div class="users-info">
  <div class="all-users">
    <span class="clear"></span>
    <div
      class="user-short-info"
      *ngFor="let user of allUsersData.getUsers()"
      [ngClass]="{
        'selected-user':
          user.id ===
          (userDetailDataService.getUser()
            ? userDetailDataService.getUser().id
            : false)
      }"
      (click)="onSelect(user)"
    >
      <div class="user-short-info-container">
        <div class="user-full-name">{{ user.fullName }}</div>
        <div class="user-age">Age: {{ user.age }}</div>
        <div class="user-role">Role: {{ user.role }}</div>
      </div>

      <div class="delete-button-container">
        <img
          class="delete-button"
          src="../../../assets/images/remove_button.png"
          alt="deleteButton"
          (click)="onDeleteUser(user)"
        />
      </div>
    </div>
  </div>
  <div class="user-full-info">
    <app-user-details></app-user-details>
  </div>
</div>
