::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.users-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: stretch;
  .all-users {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 55px);
    overflow-y: auto;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    .selected-user {
      background: #2b2b2b;
      color: #9b9b9b;
      .delete-button-container {
        .delete-button {
          display: flex;
        }
      }
    }

    .clear {
      clear: left;
      display: block;
    }
    .user-short-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: calc(100% - 20px);
      padding: 10px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      transition: 0.4s;
      text-align: center;
      cursor: pointer;
      .user-short-info-container {
        flex: 9;
      }
      .user-full-name {
        font-size: 1.5em;
        letter-spacing: 2px;
      }
      .delete-button-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .delete-button {
          display: none;
          width: 100%;
          height: 100%;
          max-width: 30px;
          max-height: 30px;
          transition: all 0.2s;
        }
        .delete-button:hover {
          transform: scale(1.25);
        }
      }
    }

    .user-short-info:hover {
      background: #2b2b2b;
      color: #9b9b9b;
      .delete-button-container {
        .delete-button {
          display: flex;
        }
      }
    }
  }

  .user-full-info {
    flex: 1;
    display: flex;
    justify-content: center;
    app-user-details {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .users-info {
    flex-direction: column-reverse;
    font-size: 0.75em;

    .all-users {
      .user-short-info {
        border-radius: 0px;
        width: calc(100% - 20px);
        .delete-button-container {
          .delete-button {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
}
