.error-container {
  display: flex;
  background: #323330;
  height: calc(100vh - 55px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100rem);
  animation: slideIn 0.5s forwards;
  .error-code {
    h1 {
      padding: 0;
      margin: 0;
      font-family: fantasy;
      font-size: 25vw;
      animation: blink 3s infinite linear;
    }
  }
  .error-message {
    h3 {
      font-family: fantasy;
      font-size: 3em;
      color: #69b518;
    }
  }
}

@keyframes blink {
  0% {
    animation-timing-function: linear;
    color: #a1a1a1;
  }
  33% {
    color: #69b518;
  }

  66% {
    color: #69b518;
  }
  100% {
    color: #a1a1a1;
  }
}
